#map {
    height: 100%;
    width: 80%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}

h1, span{
    color: rgba(0, 0, 255, 1.0);
}

.Selections {
    width:20%;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.5);
}

.Selections select{
    margin:10px auto;
    padding: 10px 20px;
    width:200px;
    display:block;
    text-align: center;
}
.Selections #stores{
    height:600px;
    overflow: auto;
    background-color: rgba(220, 220, 220, 0.5);
}

.Selections #stores div{
    background : white;
    border-radius: 10px;
    border: 2px solid rgba(220, 220, 220, 0.5);
}
.Selections #stores div h3{
    color: blue;
}



