  /* Reset */
        *{
            margin:0px;
            padding:0px;
            border:0px;
        }

        /* nav */
       nav{
           color:white;
           background-color: rgb(154, 205, 50);
           align-items: center;        
           font-size: 16px;
           font-family: sans-serif;
       }
       nav .container{
           margin:auto;
           text-align: center;
           justify-content: space-between;
           display: flex;
           width:1200px;
           padding: 15px 0px;
       }
       nav a{
             text-decoration: none;
             color:white;            
       }
       nav a:hover{
        color:rgb(133, 163, 72, 0.4);
        filter:brightness(200%);
        transition: 0.2s;
       }
       .breadcrumb a+a:before {
          padding: 15px;
          color: white;
          content: "|";
       }

       /* header */
       header{
           background-color: white;
           font-family: sans-serif;
       }
       header .container{
           margin:auto;
           width:1200px;
           padding: 15px 0px;
           display: flex;
           align-items: center;
           justify-content: space-between;
       }
       header .wrap{
           display: flex;
       }
       header a{
           text-decoration: none;
           color:rgba(110, 110, 110, 0.8);
           padding: 0px 0px 0px 20px;
       }
       header a:hover{
           color:rgb(154, 205, 50);
           transition: 0.3s;
       }

       /* greenLeaves */
       .greenLeaves{
           margin: auto;
           display: flex;
           background-image: url(pic/asset36.png);
           background-repeat: no-repeat;
           background-size: 100%;
           justify-content: center;
           align-items: center;
           line-height: 100px;
       }
       .greenLeaves .container{
           width:1200px;
       }
       .greenLeaves .wrap{
           width:600px;
           padding: 200px 0px 200px 0px ;
                      
       }
       .greenLeaves h3{
           font-size: 82px;
           font-family: sans-serif;
       }
       .greenLeaves p{
           font-size: 30px;
           font-family:handwriting;
       }
       .greenLeaves span{
        color:rgb(154, 205, 50);
       }

       .greenLeaves a{
           font-family:sans-serif;
           color:white;
           text-decoration: none;
           background-color: rgb(154, 205, 50);
           padding: 30px 50px;
           transition: 1.0s;
       }
       .greenLeaves a:hover{   
          box-shadow:inset 210px 0 0 0 #000000;
          /* transition 要寫在 a tag 中，才會有回復效果 */
       }          

       /* welcome */
       .welcome{
           margin-top:20px;
           text-align: center;
           justify-content: center;
       }
       .welcome .container{
           margin:auto;
           width:1200px;
       }
       .welcome .wrap{
           display: flex;
           justify-content: space-around;
       }
       .welcome .wrap .items{
          padding: 40px 15px;
          line-height: 30px;
          width:370px;
       }
       .welcome p{
           color:rgba(110, 110, 110, 0.8);
       }
       .welcome h3{
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       }
       .welcome .title{
           text-align: center;
           font-size:40px;
           color:rgb(154, 205, 50);
       }

       /* pic_Group */
       .pic_Group{
           margin: auto;
           width:1200px;
           display: flex;
           justify-content: center;
       }
       .pic_Group .mask{
           width:578px;
           height:344.78px;
           border:1px rgba(255, 255, 255, 0.5) solid;
           position: absolute;
           left:-10px;
           top:10px;
           opacity: 0;
           z-index: 1;
           transition: 0.5s;
       }
       .pic_Group .pic{
           position: relative;
       }
       .pic_Group .pic:hover .mask{
           left:10px;
           opacity: 1;          
       }

       /* ourProducts */
       .ourProducts{
           margin:50px auto;
           text-align: center;
           width:1230px;
           line-height: 25px;
           justify-content: center;
       }
       .ourProducts .wrap{    
           display: flex;
           justify-content: center;
       }
       .ourProducts .items{
           margin: 0px 15px;  
           padding: 10px 0px;
       }
       .ourProducts .selections a{
           color:#ccc;
       }
       .ourProducts .selections a:hover{
           color:rgb(69, 143, 50);
           transition: 0.3s;
       }
       .ourProducts img{
           width:100%;
           border:#eee solid 0.5px;
       }
       .ourProducts a{
           text-decoration: none;
           font-family: sans-serif;
       }
       .ourProducts h2{
           font-family: cursive;
       }
       .ourProducts .first_Line{
           font-size:12px;
           color: rgb(69, 143, 50);
       }
       .ourProducts .third_Line{
           font-size:25px;
           color:rgb(69, 143, 50);
       }
       .ourProducts del{
           color:#ccc;
           font-size: 12px;
       }
       
       /* fruit_And_Vegetables */
       .fruit_And_Vegetables{
           margin:auto;
           line-height: 90px;
           background-image: url(pic/asset37.png);
           background-repeat: no-repeat;
           background-size: 100%;
           justify-content: center;
           align-items: center;
           text-align: center;           
           padding:150px 0px;
       }
       .fruit_And_Vegetables h2{
           font-size: 60px;
           font-family: sans-serif;
       }
       .fruit_And_Vegetables p{
           font-size: 30px;
       }
       .fruit_And_Vegetables a{
           text-decoration: none;
           color:white;
           background-color:rgb(154, 205, 50);
           padding: 20px 40px;
           transition: 1.0s;
       }
       .fruit_And_Vegetables a:hover{   
          box-shadow:inset 250px 0 0 0 #000000;
          /* transition 要寫在 a tag 中，才會有回復效果 */
       }   

       /* fruit_Heart */
       .fruit_Heart{
           width:1160px;
           display: flex;
           margin: 100px auto;
           justify-content: center;
           padding:15px 20px;
       }
       .fruit_Heart .wrap{
              margin: 0px 15px;              
       }
       .fruit_Heart .item{
           margin: 20px 0px;
       }
       .fruit_Heart h4{
           font-size:20px;
           font-family: cursive;
           padding: 20px 0px;
       }
       .fruit_Heart p{
           color:#bbb;
           font-size:12px;
           font-family:sans-serif;
       }
       
       /* latest_From_The_Blog */
       .latest_From_The_Blog{
           background-image: url(pic/asset38.png);
           background-repeat: no-repeat;
           background-size: 100%;
           align-items: center;
           text-align: center;
           font-family: sans-serif;
           margin-top: 100px;
       }
       .latest_From_The_Blog .container{
           margin: auto;
           width:1200px;
       }
       .latest_From_The_Blog .wrap{
           display: flex;
           justify-content: center;
       }
       .latest_From_The_Blog .item{
           /* width:400px; */
           margin:0px 30px 0px 0px;
           line-height: 30px;
       }
       .latest_From_The_Blog h3{
           font-family: cursive;
           font-size: 40px;
           margin: 30px 0px;
       }
       .latest_From_The_Blog a{
           line-height: 20px;
           text-decoration: none;
       }
       .latest_From_The_Blog span{
           color:#555;
       }
       .latest_From_The_Blog .first_Line{
           color:white;
           background-color: rgb(154, 205, 50);
       }
       .latest_From_The_Blog .first_Line:hover{
           background-color: black;
           transition: 0.3s;
       }
       .latest_From_The_Blog .second_Line{
            color:#555;
       }
       .latest_From_The_Blog .second_Line:hover{
            color:rgb(154, 205, 50);
            transition: 0.3s;
       }    
       .latest_From_The_Blog .third_Line{
           color:rgb(154, 205, 50);
       }
       .latest_From_The_Blog .third_Line:hover{
           color:#555;
           transition: 0.3s;
       }
       
       /* gold_Cereal */
       .gold_Cereal{
            margin-top: 100px;
       }
       .gold_Cereal .container{
            display: flex;
            justify-content: flex-start;           
        }
        .gold_Cereal .item{
            width: 380px;
            text-align: left;
            margin: 0px 15px;
        }
        .gold_Cereal img{
           width:379.5px;
           border:#eee solid 0.5px;
       }
       .gold_Cereal .first_Line{
           color:rgb(154, 205, 50);
           padding:0px;
           background-color: white;
       }
       .gold_Cereal .first_Line:hover{
           color:black;
           background-color: white;
       }
       .gold_Cereal .third_Line{
         font-size:20px;
       }
       .gold_Cereal .third_Line:hover{
         color:rgb(154, 205, 50);
       }
       .gold_Cereal del{
         color:#555;
       }
       
       /* our_Clients_Testimonals */
       .our_Clients_Testimonials{
           margin:auto;
           line-height: 30px;
           background-image: url(pic/asset39.png);
           background-repeat: no-repeat;
           background-size: cover;
           justify-content: center;
           align-items: center;
           text-align: center;
           padding: 200px 0px;
           color:white;       
       }
       .our_Clients_Testimonials .container{
           width:1200px;
           margin:auto;
       }

       /* subscribe */
       .subscribe{
           margin:auto;
           text-align: center;
           justify-content: center;
       }
       .subscribe .container{
           width:1200px;
           margin: auto;
       }
       .subscribe input{
           width:500px;
           padding: 10px;
           border:#eee solid 0.5px;
           margin:5px;
       }
       .subscribe a{
           margin:5px;
           padding:10px;
           color:white;
           background-color: rgb(154, 205, 50);
           transition: 1.0s;
       }
       .subscribe a:hover{
        box-shadow:inset 250px 0 0 0 #000000;
       }
       
       /* footer */
       footer{
           padding-top: 150px;
           padding-bottom: 100px;
           background-image: url(pic/asset41.png);
           background-size: 100%;
           background-repeat: no-repeat;
           align-items: center;
       }
       footer .container{
           margin:auto;
           width:1200px;
           display: flex;
           justify-content: space-between;
       }
       footer .item{
           margin: 0px 15px;
       }
       footer .item1 a:hover{
           color:black;
           transition: 0.3s;
       }
       footer a:hover{
           color: rgb(154, 205, 50);
           transition: 0.3s;
       }
       footer h4{
           font-family: cursive;
           font-size: 20px;
       }
       footer section, a{
           color:#aaa;
       }
       footer i{
           color:rgb(154, 205, 50);
       }

       /* back_To_Top */
       .back_To_Top{
           color:white;
           padding:18px 20px;
           background-color: black;
           border-radius: 50%;
           position:fixed;
           bottom:100px;
           right:30px;
           transition: 1.0s;
       }
       .back_To_Top:hover{
           box-shadow: inset 60px 0 0 0 rgb(154, 205, 50);      
       }
    </style>  
  /* Reset */
  *{
    margin:0px;
    padding:0px;
    border:0px;
}

/* nav */
nav{
   color:white;
   background-color: rgb(154, 205, 50);
   align-items: center;        
   font-size: 16px;
   font-family: sans-serif;
}
nav .container{
   margin:auto;
   text-align: center;
   justify-content: space-between;
   display: flex;
   width:1200px;
   padding: 15px 0px;
}
nav a{
     text-decoration: none;
     color:white;            
}
nav a:hover{
color:rgb(133, 163, 72, 0.4);
filter:brightness(200%);
transition: 0.2s;
}
.breadcrumb a+a:before {
  padding: 15px;
  color: white;
  content: "|";
}

/* header */
header{
   background-color: white;
   font-family: sans-serif;
}
header .container{
   margin:auto;
   width:1200px;
   padding: 15px 0px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header .wrap{
   display: flex;
}
header a{
   text-decoration: none;
   color:rgba(110, 110, 110, 0.8);
   padding: 0px 0px 0px 20px;
}
header a:hover{
   color:rgb(154, 205, 50);
   transition: 0.3s;
}

/* greenLeaves */
.greenLeaves{
   margin: auto;
   display: flex;
   background-image: url(pic/asset36.png);
   background-repeat: no-repeat;
   background-size: 100%;
   justify-content: center;
   align-items: center;
   line-height: 100px;
}
.greenLeaves .container{
   width:1200px;
}
.greenLeaves .wrap{
   width:600px;
   padding: 200px 0px 200px 0px ;
              
}
.greenLeaves h3{
   font-size: 82px;
   font-family: sans-serif;
}
.greenLeaves p{
   font-size: 30px;
   font-family:handwriting;
}
.greenLeaves span{
color:rgb(154, 205, 50);
}

.greenLeaves a{
   font-family:sans-serif;
   color:white;
   text-decoration: none;
   background-color: rgb(154, 205, 50);
   padding: 30px 50px;
   transition: 1.0s;
}
.greenLeaves a:hover{   
  box-shadow:inset 210px 0 0 0 #000000;
  /* transition 要寫在 a tag 中，才會有回復效果 */
}          

/* welcome */
.welcome{
   margin-top:20px;
   text-align: center;
   justify-content: center;
}
.welcome .container{
   margin:auto;
   width:1200px;
}
.welcome .wrap{
   display: flex;
   justify-content: space-around;
}
.welcome .wrap .items{
  padding: 40px 15px;
  line-height: 30px;
  width:370px;
}
.welcome p{
   color:rgba(110, 110, 110, 0.8);
}
.welcome h3{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.welcome .title{
   text-align: center;
   font-size:40px;
   color:rgb(154, 205, 50);
}

/* pic_Group */
.pic_Group{
   margin: auto;
   width:1200px;
   display: flex;
   justify-content: center;
}
.pic_Group .mask{
   width:578px;
   height:344.78px;
   border:1px rgba(255, 255, 255, 0.5) solid;
   position: absolute;
   left:-10px;
   top:10px;
   opacity: 0;
   z-index: 1;
   transition: 0.5s;
}
.pic_Group .pic{
   position: relative;
}
.pic_Group .pic:hover .mask{
   left:10px;
   opacity: 1;          
}

/* ourProducts */
.ourProducts{
   margin:50px auto;
   text-align: center;
   width:1230px;
   line-height: 25px;
   justify-content: center;
}
.ourProducts .wrap{    
   display: flex;
   justify-content: center;
}
.ourProducts .items{
   margin: 0px 15px;  
   padding: 10px 0px;
}
.ourProducts .selections a{
   color:#ccc;
}
.ourProducts .selections a:hover{
   color:rgb(69, 143, 50);
   transition: 0.3s;
}
.ourProducts img{
   width:100%;
   border:#eee solid 0.5px;
}
.ourProducts a{
   text-decoration: none;
   font-family: sans-serif;
}
.ourProducts h2{
   font-family: cursive;
}
.ourProducts .first_Line{
   font-size:12px;
   color: rgb(69, 143, 50);
}
.ourProducts .third_Line{
   font-size:25px;
   color:rgb(69, 143, 50);
}
.ourProducts del{
   color:#ccc;
   font-size: 12px;
}

/* fruit_And_Vegetables */
.fruit_And_Vegetables{
   margin:auto;
   line-height: 90px;
   background-image: url(pic/asset37.png);
   background-repeat: no-repeat;
   background-size: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;           
   padding:150px 0px;
}
.fruit_And_Vegetables h2{
   font-size: 60px;
   font-family: sans-serif;
}
.fruit_And_Vegetables p{
   font-size: 30px;
}
.fruit_And_Vegetables a{
   text-decoration: none;
   color:white;
   background-color:rgb(154, 205, 50);
   padding: 20px 40px;
   transition: 1.0s;
}
.fruit_And_Vegetables a:hover{   
  box-shadow:inset 250px 0 0 0 #000000;
  /* transition 要寫在 a tag 中，才會有回復效果 */
}   

/* fruit_Heart */
.fruit_Heart{
   width:1160px;
   display: flex;
   margin: 100px auto;
   justify-content: center;
   padding:15px 20px;
}
.fruit_Heart .wrap{
      margin: 0px 15px;              
}
.fruit_Heart .item{
   margin: 20px 0px;
}
.fruit_Heart h4{
   font-size:20px;
   font-family: cursive;
   padding: 20px 0px;
}
.fruit_Heart p{
   color:#bbb;
   font-size:12px;
   font-family:sans-serif;
}

/* latest_From_The_Blog */
.latest_From_The_Blog{
   background-image: url(pic/asset38.png);
   background-repeat: no-repeat;
   background-size: 100%;
   align-items: center;
   text-align: center;
   font-family: sans-serif;
   margin-top: 100px;
}
.latest_From_The_Blog .container{
   margin: auto;
   width:1200px;
}
.latest_From_The_Blog .wrap{
   display: flex;
   justify-content: center;
}
.latest_From_The_Blog .item{
   /* width:400px; */
   margin:0px 30px 0px 0px;
   line-height: 30px;
}
.latest_From_The_Blog h3{
   font-family: cursive;
   font-size: 40px;
   margin: 30px 0px;
}
.latest_From_The_Blog a{
   line-height: 20px;
   text-decoration: none;
}
.latest_From_The_Blog span{
   color:#555;
}
.latest_From_The_Blog .first_Line{
   color:white;
   background-color: rgb(154, 205, 50);
}
.latest_From_The_Blog .first_Line:hover{
   background-color: black;
   transition: 0.3s;
}
.latest_From_The_Blog .second_Line{
    color:#555;
}
.latest_From_The_Blog .second_Line:hover{
    color:rgb(154, 205, 50);
    transition: 0.3s;
}    
.latest_From_The_Blog .third_Line{
   color:rgb(154, 205, 50);
}
.latest_From_The_Blog .third_Line:hover{
   color:#555;
   transition: 0.3s;
}

/* gold_Cereal */
.gold_Cereal{
    margin-top: 100px;
}
.gold_Cereal .container{
    display: flex;
    justify-content: flex-start;           
}
.gold_Cereal .item{
    width: 380px;
    text-align: left;
    margin: 0px 15px;
}
.gold_Cereal img{
   width:379.5px;
   border:#eee solid 0.5px;
}
.gold_Cereal .first_Line{
   color:rgb(154, 205, 50);
   padding:0px;
   background-color: white;
}
.gold_Cereal .first_Line:hover{
   color:black;
   background-color: white;
}
.gold_Cereal .third_Line{
 font-size:20px;
}
.gold_Cereal .third_Line:hover{
 color:rgb(154, 205, 50);
}
.gold_Cereal del{
 color:#555;
}

/* our_Clients_Testimonals */
.our_Clients_Testimonials{
   margin:auto;
   line-height: 30px;
   background-image: url(pic/asset39.png);
   background-repeat: no-repeat;
   background-size: cover;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 200px 0px;
   color:white;       
}
.our_Clients_Testimonials .container{
   width:1200px;
   margin:auto;
}

/* subscribe */
.subscribe{
   margin:auto;
   text-align: center;
   justify-content: center;
}
.subscribe .container{
   width:1200px;
   margin: auto;
}
.subscribe input{
   width:500px;
   padding: 10px;
   border:#eee solid 0.5px;
   margin:5px;
}
.subscribe a{
   margin:5px;
   padding:10px;
   color:white;
   background-color: rgb(154, 205, 50);
   transition: 1.0s;
}
.subscribe a:hover{
box-shadow:inset 250px 0 0 0 #000000;
}

/* footer */
footer{
   padding-top: 150px;
   padding-bottom: 100px;
   background-image: url(pic/asset41.png);
   background-size: 100%;
   background-repeat: no-repeat;
   align-items: center;
}
footer .container{
   margin:auto;
   width:1200px;
   display: flex;
   justify-content: space-between;
}
footer .item{
   margin: 0px 15px;
}
footer .item1 a:hover{
   color:black;
   transition: 0.3s;
}
footer a:hover{
   color: rgb(154, 205, 50);
   transition: 0.3s;
}
footer h4{
   font-family: cursive;
   font-size: 20px;
}
footer section, a{
   color:#aaa;
}
footer i{
   color:rgb(154, 205, 50);
}

/* back_To_Top */
.back_To_Top{
   color:white;
   padding:18px 20px;
   background-color: black;
   border-radius: 50%;
   position:fixed;
   bottom:100px;
   right:30px;
   transition: 1.0s;
}
.back_To_Top:hover{
   box-shadow: inset 60px 0 0 0 rgb(154, 205, 50);      
}
</style>